<html lang="en">

<head>
    <% include ../helpers/head %>
    <% include ../helpers/navbar %>
</head>

<body>

    <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
    <!-- Check out more components here: http://getbootstrap.com/components/ -->
    <h1>Projects Page</h1>

</body>

</html>