<div>
    <% include ./head %>
    <form class="form">
        <img src="https://www.triggerfish.com.au/hs-fs/hubfs/Hubspot%20Logo%20500x.png?width=1020&name=Hubspot%20Logo%20500x.png"
            width="70%" style="align-self: center;" />
        <div>
            <input id="title" placeholder="title"></input>
            <input id="body" placeholder="body"></input>
        </div>
        <button type="button" class="submitButton" onclick="submitForm()">Submit</button>
    </form>
</div>